h1 {
    color:goldenrod;
}

p {
    color:maroon;

}
    input {
    color:chocolate;

    }
    option {
    color:orangered;

    }
body {
    background-color: pink
}
button {
    color:pink
    

    
}
.heading{
    color:red;
}
h1 {
    text-align: center;
}
a href {
    color:white;
}
a {
    text-decoration: none;
}
#Adi{
    text-align: center;
    text-decoration: bolder;
    color: blue;
}
prince{
color:black;
text-decoration: underline;
text-decoration: solid;
text-decoration: underline;
 
}